{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "jsxString.h" // default pragma is React.createElement
      }
    ]
  ]
}
